

body {
  margin: 0;
  font-family: monospace;
  background: #111;
  color: white;
  text-align: center;
  overflow: hidden;
}

#home-screen {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  padding: 10px 20px;
  margin: 10px;
  background: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: #666;
}

#gameCanvas {
  display: none;
  background: #1e1e2f;
  width: 100vw;
  height: 100vh;
}

#hud {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
  gap: 10px;
}

#water-container {
  width: 200px;
  height: 20px;
  background: #333;
  border: 2px solid white;
}
#water-bar {
  height: 100%;
  width: 100%;
  background: cyan;
}

